@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif !important;
}

.hide {
  height: 60px;
  overflow: hidden;
}

.Button {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 25px 9px;
  text-transform: uppercase;
  background: #ec1c23;
  text-decoration: none;
  transition: 0.2s;
  border: none;
}
.slider .Button:hover {
  color: #ec1c23;
  background: #fff;
  text-decoration: none;
}

.Button:hover {
  color: white;
  background: #2c2b5e;
  text-decoration: none;
}

.card {
  border-radius: 0%;
}

.text-blue {
  color: #2c2b5e;
}
.text-red {
  color: #ec1c23;
}
/* -------------- Header Start ------------------- */
.header-top {
  background-color: #ec1c23;
  position: relative;
}
.header-top:after {
  background: #2c2b5e;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 36%;
}
.header-top .row .col-8 {
  background-color: #ec1c23;
}
.header-top .row .col-4 {
  background-color: #2c2b5e;
}

.header-bottom {
  transition: 0.8s;
}


.blue {
  background: #2c2b5e;
  content: "";
  height: 100px;
  left: -9%;
  position: absolute;
  top: -36px;
  transform: rotate(-45deg);
  width: 60px;
}

.blue .white {
  background: white;
  content: "";
  height: 100px;
  width: 8px;
  left: 6%;
  position: absolute;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

header img {
  padding: 40px 0 33px;
}

.new-header {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 2;
  height: 60px;
  background: #ffffffbc;
  top: 0;
  transition: 0.8s;
}

.bg-blue{background: #2c2b5e;}
.bg-red{background-color: #ec1c23;}

.new-header img {
  padding: 0px;
}
/* -------------- Header End ------------------- */

/* ---------------title start----------------- */

.title {
  background-color: #333333;
}
.title .container {
  padding: 140px;
}
/* ---------------title end----------------- */
/* -------------- teacher start ------------------- */

.teachers h2:hover {
  color: #ec1c23;
}

.teachers img {
  width: 100%;
}
.teachers .card {
  height: 375px;
  overflow: hidden;
  margin-bottom: 10px;
}
.teachers .card-body {
  position: absolute;
  width: -webkit-fill-available;
  top: 75%;
  background-color: white;
  transition: 0.4s;
}
.teachers .card:hover .card-body {
  top: 60%;
}
.teachers .shadow {
  transition: 0.4s;
}
.teachers .card:hover .shadow {
  position: absolute;
  top: 0%;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: rgba(255, 255, 255, 0.511);
}
.teachers .list-group-item:hover {
  background-color: #ec1c23;
  color: white;
}

/* -------------- teacher end ------------------- */

/* -------------- Carusel start ------------------- */

.carousel-item .shadow {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.carousel-caption h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 58px;
}

.carousel-caption p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

/* ------------------ carousel end---------------------- */

/* -------------------About start---------------------- */

.about .card-body {
  padding: 40px;
}
.about .nav-link:hover {
  color: #ec1c23;
}

/* ------------------ About end---------------------- */
/* ------------------ Welcome start---------------------- */

.welcome span {
  color: #ec1c23;
}
.welcome .about-img {
  position: relative;
  z-index: 1;
  margin-right: -30px;
  padding: 0 20px;
}

.welcome .about-img:after {
  position: absolute;
  border: 10px solid #ebebeb;
  left: 0;
  bottom: -5px;
  width: 100%;
  content: "";
  height: 88%;
  z-index: -1;
}

/* ------------------ Welcome end---------------------- */

/* --------Courses start---------------------- */

.courses .main_picture .time {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: rgba(21, 19, 137, 0.645);
  padding: 10px;
  color: white;
  z-index: 5;
}

.course-title h3 {
  background: #2c2b5e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  padding: 16px 93px 16px 27px;
  display: inline-block;
  position: relative;
}
.course-title h3::after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 85px;
  position: absolute;
  right: -26px;
  top: -17px;
  transform: rotate(-30deg);
  width: 45px;
}
.course-form form {
  position: relative;
  margin-bottom: 50px;
}
.course-form form input {
  width: 100%;
  border: 1px solid #ebebeb;
  background: #f8f8f8;
  padding: 14px 195px 14px 25px;
}
.course-form form button {
  position: absolute;
  right: 0;
  top: 0;
  background: #ec1c23;
  color: #fff;
  height: 50px;
  width: 185px;
  content: "";
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.courses .shadow {
  display: none;
}
.courses .main_picture:hover .shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  color: white;
  background-color: #ec1c235f;
}

.courses .card-body {
  padding: 30px;
}
.courses .nav-link:hover {
  color: #ec1c23;
}

.courses-area.two {
  position: relative;
  background: url("../image/course-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.courses-area.two:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(44, 43, 94, 0.92);
}
/* ----------------- courses end ------------------ */

/* ----------------- Notice start ------------------ */
.notice h3 {
  color: #2c2b5e;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.notice-video {
  background: rgba(0, 0, 0, 0) url(/image/video.webp) repeat scroll 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 382px;
  width: 100%;
}
.notice-video::after {
  background: rgba(44, 43, 94, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.notice h4 {
  color: #ec1c23;
}
/* ----------------- Notice end ------------------ */
/*---------------Hero start---------- */

.hero-area.two {
  position: relative;
  background: url("../image/course-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.hero-area.two:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(44, 43, 94, 0.92);
}

/*---------------Hero end---------- */

/*---------------BLOG START---------- */

.blog .shadow {
  display: none;
}
.blog .main_picture:hover .shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  color: white;
  background-color: #ec1c235f;
}

/*---------------BLOG end---------- */

.subscribe {
  background: whitesmoke;
}

.copyright {
  background: rgba(44, 43, 94, 0.92);
}

/* -------events start-------*/
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.card-horizontal img {
  width: 100%;
}

.events .Button {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 8px 25px 9px;
  text-transform: uppercase;
  background: #fff;
  text-decoration: none;
  transition: 0.2s;
  border: 1px solid #e1e1e1;
  font-weight: normal;
}
.events .Button:hover {
  color: #fff;
  background: #ec1c23;
  text-decoration: none;
}
/* -------events end-------*/

.navigation h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #606060;
}

.navigation h3::before {
  background: #606060;
  bottom: -13px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 45px;
}

.navigation h3::after {
  background: #606060;
  bottom: -10px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 57px;
}

.notice .card::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.notice .card::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.notice .card::-webkit-scrollbar-thumb {
  background: #ec1c23;
  border-radius: 5px;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
  color: #fff;
}

.concact .card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  width: 50px;
  font-size: 25px;
  line-height: 50px;  
  color: rgba(0, 0, 255, 0.558);
}
